# Database
DATABASE_URL="postgresql+asyncpg://deploy:123456@localhost:5432/english"
LANGCHAIN_DATABASE_URL="postgresql://deploy:123456@localhost:5433/langchain"

# DeepSeek
DEEPSEEK_API_KEY="sk-012b33f0d50f4674ba0a48f18a6df0ca"
DEEPSEEK_API_MODEL="deepseek-v4-flash"
DEEPSEEK_REASONER_API_MODEL="deepseek-v4-pro"

# Bocha Search
BOCHA_SEARCH_URL="https://api.bochaai.com/v1/web-search"
BOCHA_API_KEY="sk-76e930546d3a4115878b5a0848cec725"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"

# Email
EMAIL_HOST="smtp.qq.com"
EMAIL_PORT="465"
EMAIL_USE_SSL="true"
EMAIL_USER="1685243288@qq.com"
EMAIL_PASSWORD="uawmrhdkfocydjbh"
EMAIL_FROM="1685243288@qq.com"
